<div class="col-sm-3 sidebar-nav hidden-xs">
  <ul id="sidebar">
    <li class='<%= "active" if selected == 'top' %>'><%= link_to 'About DevCon', about_path %></li>
    <li class='<%= "active" if selected == 'fact_sheet' %>'><%= link_to 'Fact Sheet', fact_sheet_path %></li>
    <li class='<%= "active" if selected == 'officers' %>'><%= link_to 'Officers', officers_path %></li>
    <li class='<%= "active" if selected == 'chapters' %>'><%= link_to 'Regional Chapters', chapters_path %></li>
    <li><%= link_to 'FAQs (old)', faq_path %></li>
    <li><%= link_to 'Articles', articles_path %></li>
    <li><%= link_to 'Contact', contact_path %></li>
  </ul>
</div>
