<div class="col-sm-3 sidebar-nav">
  <ul>
    <li class='<%= "active" if selected == 'top' %>'><%= link_to 'About DevCon', about_path %></li>
    <li class='<%= "active" if selected == 'officers' %>'><%= link_to 'Officers & Chapters', officers_path %></li>
    <li><%= link_to 'FAQs (old)', faq_path %></li>
    <li><%= link_to 'Articles', articles_path %></li>
    <li><%= link_to 'Contact', contact_path %></li>
  </ul>
</div>
