<div class="col-sm-3 sidebar-nav hidden-xs">
  <ul id="sidebar">
    <li class='<%= "active" if selected == 'top' %>'><%= link_to 'Get Involved', get_involved_path %></li>
    <li class='<%= "active" if selected == 'volunteer' %>'><%= link_to 'Be a Volunteer', volunteer_path %></li>
    <li class='<%= "active" if selected == 'speaker' %>'><%= link_to 'Be a Speaker', speaker_path %></li>
    <li class='<%= "active" if selected == 'sponsor' %>'><%= link_to 'Sponsor Events', sponsor_path %></li>
    <%#<li><a href="#">Donate</a></li>%>
    <li><%= link_to 'Fork this on Github', 'https://github.com/devcon-ph/devcon' %></li>
  </ul>
</div>
