<div class="row faq">
  <div class="col-sm-9">
    <h1>Regional Chapters</h1>

    <div class="row" id="devcon-chapters">
      <div class="col-sm-12">
        <p>Being a fast growing community, DevCon already has local chapters in <strong>Cebu</strong>, <strong>Davao</strong> and <strong>Cagayan de Oro (CDO)</strong>. Each chapter has its own set of events and a steering committee. Here are the current chapter heads:</p>
        <div class="row officer">
          <div class="col-sm-12 profile">
            <h3><span class="caps">Paul John Parreño</span>, DevCon Bai! (Cebu) Chapter Head</h3>
            <p class="twitter-handle"><a href="http://twitter.com/pjparreno" target="_blank">@pjparreno</a></p>
            <p><%= image_tag "faq/pj.jpg", :alt => "PJ", :class => "profile-pic pull-left" %> Paul is a Mobile Applications Developer at Arcanys Inc, Mobile Technology Enthusiast, University Instructor at University of San Carlos, and a Gaming Enthusiast. He also particularly interested in open source technology that drives mobile applications development, open-source game development and promoting the technological growth in the Philippines. Learn more about him on his <a href="http://www.linkedin.com/pub/paul-john-parreno/58/112/887">LinkedIn profile</a>.</p>
          </div>
        </div>

        <div class="row officer">
          <div class="col-sm-12 profile">
            <h3><span class="caps">John Reuben Requiroso</span>, DevCon Cagayan de Oro Chapter Head</h3>
            <p class="twitter-handle"><a href="http://twitter.com/kazuo1231" target="_blank">@kazuo1231</a></p>
            <p><%= image_tag "faq/jr.jpg", :alt => "JR", :class => "profile-pic pull-left" %> JR became a DevCon member on December 2012. He graduated from Mindanao State University - Iligan Institute of Technology on April 2014 with a degree of Computer Science. He is an anime/manga otaku and frustrated writer. You can read his entries <a href="http://mindless-kazuo.blogspot.com/">here</a>.</p>
          </div>
        </div>

        <div class="row officer">
          <div class="col-sm-12 profile">
            <h3><span class="caps">Eric John Emerberda</span>, DevCon Davao Chapter Head</h3>
            <p class="twitter-handle"><a href="http://twitter.com/eemberda" target="_blank">@eemberda</a></p>
            <p><%= image_tag "faq/eric.jpg", :alt => "Eric", :class => "profile-pic pull-left" %> Eric is a software engineer who has a comprehensive experience in developing software for business needs. Now he teaches full time at University of Immaculate Conception while doing a few software and website development for a few clients.</p>
          </div>
        </div>

        <p class="apply-local-chapter">To apply for a local chapter, feel free to email our Executive Director via <a href="mailto:haifa@devcon.ph">haifa@devcon.ph</a>.</p>
      </div>
    </div>

    <div class="row chapter-images">
      <div class="col-sm-6">
        <%= image_tag "faq/bai-fzda.jpg", :alt => "DevCon Bai at hack2HATCH" %>
      </div>
      <div class="col-sm-6">
        <%= image_tag "faq/davao-um.jpg", :alt => "DevCon Davao at UM" %>
      </div>
    </div>
    <div class="row chapter-next-row chapter-images">
      <div class="col-sm-6 chapter-caption">
        <p>
          (clockwise from top left)<br/>
          DevCon Bai with Winston Damarillo and Fernando Zobel De Ayala at hack2HATCH Held in Cebu
        </p>
        <p>DevCon Davao Volunteers Together with Participants During the Campus DevCon at the University of Mindanao</p>
        <p>DevCon CDO Representatives and Attendees at the Geekup Dinner in Cagayan De Oro
      </div>
      <div class="col-sm-6">
        <%= image_tag "faq/cdo-geekup.jpg", :alt => "DevCon CDO" %>
      </div>
    </div>

  </div>
  <%= render :partial => 'about_sidebar', :locals => { :selected => 'chapters' } %>
</div>
