<div class="row faq">
  <div class="col-sm-9">
    <h1>DevCon Events</h1>

    <p>DevCon is the first of its kind in the Philippines to bring together software engineers, developers, programmers, students, educators, industry experts and technopreneurs where they are encouraged to interact and share insights. DevCon provides a relaxed venue for individuals to socialize with fellow geeks, mentors, employers and the rest of the IT community – its mission being to promote and propagate the software engineering profession in the country.</p>

    <p>DevCon was conceptualized to be a premier gathering of all Filipino software engineers in the country but in a short span of time, DevCon events have evolved from simple, three-part unconferences to focus group-driven geekups and code camps that envision the bridging of the academe–IT industry divide:</p>

    <ul>
      <li>
        <strong>Classic DevCon Events</strong> are designed to introduce technology topics and encourage interactions by means of three components:
        <ul>
          <li><strong>Lightning talks</strong> are very quick presentations delivered with or without auxiliary visual materials in a span of only 8–10 minutes, including Q&amp;A.</li>
          <li><strong>Birds of a Feather (BoF)</strong> is a friendly debate on trending IT topics.</li>
          <li>The <strong>hackathon</strong> is usually a one-hour competition that requires a team to execute a programming or web activity that results in a work product.</li>
        </ul>
      </li>
    </ul>
    <div class="row">
      <div class="col-md-6 col-sm-10 col-sm-offset-1 col-md-offset-3">
        <div class="thumbnail">
          <%= image_tag "faq/devconbai-mobilehack.jpg", :alt => "DevCon Bai Mobile Hackathon" %>
          <div class="caption">DevCon Bai Mobile Hackathon (Cebu)</a></div>

        </div>
      </div>
    </div>
    <ul>
      <li><strong>Campus DevCons</strong> are gatherings in partnership with schools that aim to augment the academic learnings of students with up-to-date trends in the IT industry. The event converges an average of 200 students taking up Computer Science or other IT-related courses and follows the format of a Classic DevCon event.</li>
    </ul>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="thumbnail">
          <%= image_tag "faq/campusdevcon-puptaguig.jpg", :alt => "PUP DevCon" %>
          <div class="caption"><a href="http://devcon.ph/events/campus-devcon-at-pup-taguig" target="_blank">Campus DevCon at PUP Taguig 2013</a></div>

        </div>
      </div>
    </div>

    <ul>
      <li><strong>DevCon Geekups</strong> are informal gatherings that allow IT students, educators and professionals to talk about the ingredients needed to improve the IT industry, as well as explore areas for collaboration.</li>
    </ul>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-4">
        <div class="thumbnail">
          <%= image_tag "faq/cdo-earl.jpg", :alt => "Earl at CDO" %>
          <div class="caption">Earl Martin Valencia (center) of <a href="http://ideaspace.ph" target="_blank">IdeaSpace</a> at the DevCon Geekup in Cagayan De Oro</div>
        </div>
      </div>
    </div>

    <ul>
      <li><strong>DevCon Code Camps</strong> are technical sessions that seek to build up the technology capabilities of our IT professionals and students by collaborating with a number of technology user groups that can act as the backbone of these activities.</li>
    </ul>

    <div class="row">
      <div class="col-md-6 col-sm-6 col-sm-offset-3 col-md-offset-3">
        <div class="thumbnail">
          <%= image_tag "faq/railsgirls.jpg", :alt => "Rad Rails Girls" %>
          <div class="caption">Rad Batnag as a mentor in <a href="http://devcon.ph/events/rails-girls-manila" target="_blank">Rails Girls Manila 2012</a></div>

        </div>
      </div>
    </div>

    <ul>
      <li>The <strong>DevCon Summit</strong> is a national conference that aims to empower the Philippine IT community with up-to-date trends and opportunities in the information technology industry.</li>
    </ul>

  </div>
  <%= render :partial => 'events_sidebar', :locals => { :selected => 'top' } %>
</div>
