<% title "Frequently Asked Questions" %>
<% description "Developers Connect Philippines (DevCon) is a non-proﬁt organization which aims to promote the \"IT Pinoy Talent\" mainly by providing a unique venue for IT students, educators, professionals and enthusiasts to Sync, Support and Succeed." %>
<% set_meta_tags :open_graph => {
  :title => "#{ENV['title']} | Frequently Asked Questions",
  :description => "Developers Connect Philippines (DevCon) is a non-proﬁt organization which aims to promote the \"IT Pinoy Talent\" mainly by providing a unique venue for IT students, educators, professionals and enthusiasts to Sync, Support and Succeed.",
  :type  => :website,
  :url   => faq_url,
  :image => [opengraph_thumb_url, { :width => 200, :height => 200 }]
} %>
<% cache do %>
<div class="row">
  <div class="col-sm-12">
    <%= image_tag "logo.png", class: "pull-right"%>
    <h1>Frequently Asked Questions</h1>
  </div>
</div>

<ul id="toc">
  <li><a href="#what-is-devcon">What is DevCon?</a></li>
  <li><a href="#origin">When and how was DevCon founded?</a></li>
  <li><a href="#founder">Who founded DevCon?</a></li>
  <li><a href="#devcon-events">What does DevCon do?</a></li>
  <li><a href="#officers">Who are the officers of DevCon?</a></li>
  <li><a href="#joining-devcon">How do I become a member of DevCon?</a></li>
  <li><a href="#hosting-campus-devcon">Can our school host a Campus DevCon?</a></li>
  <li><a href="#devcon-chapters">Does DevCon have local chapters?</a></li>
  <li><a href="#achievements">What are DevCon's achievements?</a></li>
  <li><strong><a href="#event-feeds">How can I receive notifications about upcoming DevCon events?</a> <span class="label label-success">New</span></strong></li>
  <li><a href="#contact">How do I reach DevCon?</a></li>
</ul>

<div class="faq-download">
  <%= image_tag "pdf.gif", :alt => "PDF" %> <a href="/DevConFAQ.pdf">Download this FAQ in PDF</a>
</div>

<div class="faq">
  <div class="row question" id="what-is-devcon">
    <div class="col-sm-12">
      <h2>What is DevCon?</h2>
      <p>Developers Connect (DevCon) Philippines is a non-proﬁt organization which aims to empower Filipino developers and promote the "IT Pinoy Talent" by providing unique venues for IT students, educators, professionals and enthusiasts to <em>Sync, Support and Succeed</em>.</p>
    </div>
  </div>

  <div class="row question" id="origin">
    <div class="col-sm-12">
      <h2>When and how was DevCon founded?</h2>
      <p>DevCon was founded in June 26, 2009.</p>

      <p>DevCon is a pioneering project of the Philippine Software Industry Association (PSIA). Its pilot event, DevCon Visayas, was held at the TechBar in Cebu City. DevCon also spanned a ten-city nationwide tour as part of the Next Wave Cities roadshow run by the then Commission on Information and Communications Technology (CICT) and Business Processing Association of the Philippines (BPA/P) in 2009.</p>

      <p>To increase its reach, DevCon has signed a partnership with the Philippine Society of IT Educators (PSITE) to make DevCon accessible to IT students nationwide. Furthermore, to ensure that DevCon's presence will continue to grow, DevCon registered under the Securities and Exchange Commission as a non-profit organization.</p>
    </div>
  </div>

  <div class="row question" id="founder">
    <div class="col-sm-12 profile">
      <h2>Who founded DevCon?</h2>
      <h3><span class="caps">Winston Damarillo</span>, Founder</h3>
      <p class="twitter-handle"><a href="http://twitter.com/YGLWinston" target="_blank">@YGLWinston</a></p>
      <p><%= image_tag "faq/winston.jpg", :alt => "Winston", :class => "profile-pic pull-left" %> A seasoned technopreneur and founder of DevCon, US-based Winston Damarillo has always been an advocate of the ICT sector in the Philippines and a believer of Filipino software engineering talent. Quarterly, he travels to the country to conduct talks, inspiring students and new software developers. As a technopreneur, Winston’s past endeavors include several companies which Winston grew to profitability and subsequently sold to major IT players: Gluecode Software, an open source application infrastructure company which was acquired by IBM in 2005, Logicblaze, acquired by Iona Technologies in 2007, and Webtide, acquired by Intalio in 2009. Winston is the chairman of the board of directors for Exist Software Labs and MaestroDev.</p>
    </div>
  </div>


  <div class="row question" id="officers">
    <div class="col-sm-12">
      <h2>Who are the officers of DevCon?</h2>

      <div class="row officer">
        <div class="col-sm-12 profile">
          <h3 id="president"><span class="caps">Jerry Rapes</span>, President</h3>
          <p class="twitter-handle"><a href="http://twitter.com/JerryR" target="_blank">@JerryR</a></p>
          <p><%= image_tag "faq/jerry.jpg", :alt => "Jerry", :class => "profile-pic pull-left" %> Currently the president of DevCon, Jerry is also president and CEO of the homegrown award-winning software development company <a href="http://exist.com" target="_blank">Exist</a>. Just like Winston, Jerry is an avid supporter of propelling the growth of ICT industry in the Philippines, particularly in Cebu. He has chaired the Cebu ICT &amp; BPO in 2009 and 2010 and has co-chaired the Philippine Open Source Summit held in Cebu in 2008. He is also VP of the Cebu Educational Development Foundation for Information Technology (CEDF-IT), a consortium dedicated to workforce development initiatives in the ICT and IT-enabled services industries.</p>
        </div>
      </div>

      <div class="row officer">
        <div class="col-sm-12 profile">
          <h3><span class="caps">Haifa Carina Baluyos</span>, Executive Director</h3>
          <p class="twitter-handle"><a href="http://twitter.com/HaifaCarina" target="_blank">@HaifaCarina</a></p>
          <p><%= image_tag "faq/haifa.jpg", :alt => "Haifa", :class => "profile-pic pull-left" %> Haifa currently serves as the Executive Director of DevCon following her term as VP for Finance, and before that, as Executive Associate. She graduated with a bachelor's degree in Computer Science from Xavier University – Ateneo de Cagayan in 2011. She used to work as an iOS developer. Learn more about her at <a href="http://haifacarina.com" target="_blank">haifacarina.com</a>.</p>
        </div>
      </div>

      <div class="row officer">
        <div class="col-sm-12 profile">
          <h3><span class="caps">Drei Alquiros</span>, VP for Marketing</h3>
          <p class="twitter-handle"><a href="http://twitter.com/dreialq" target="_blank">@dreialq</a></p>
          <p><%= image_tag "faq/drei.jpg", :alt => "Drei", :class => "profile-pic pull-left" %> Drei is currently a full time and freelance Web Designer who enjoys UX, UI and Wordpress development. She is also the Founder of <a href="http://theinnergeekmovement.com/" target="_blank">The innerGeek Movement</a> and a member of the <a href="http://pwdo.org" target="_blank">Philippine Web Designers Organization</a>. Learn more about her at <a href="http://batangdisney.wordpress.com" target="_blank">batangdisney.wordpress.com</a></p>
        </div>
      </div>

      <div class="row officer">
        <div class="col-sm-12 profile">
          <h3><span class="caps">Bryan Bibat</span>, VP for Technology</h3>
          <p class="twitter-handle"><a href="http://twitter.com/bry_bibat" target="_blank">@bry_bibat</a></p>
          <p><%= image_tag "faq/bry.jpg", :alt => "Bry", :class => "profile-pic pull-left" %> Bry is a freelance software engineer with nine years of experience in web development in both enterprise and non-enterprise applications. Currently, he is the VP for Technology of DevCon and an active evangelist for the Philippine Ruby Users Group (PhRUG). Learn more about him at <a href="http://bryanbibat.net" target="_blank">bryanbibat.net</a>.
        </div>
      </div>

      <div class="row officer">
        <div class="col-sm-12 profile">
          <h3><span class="caps">Terence Matthew Ponce</span>, VP for Programs</h3>
          <p class="twitter-handle"><a href="http://twitter.com/TerencePonce" target="_blank">@TerencePonce</a></p>
          <p><%= image_tag "faq/terence.jpg", :alt => "Terence", :class => "profile-pic pull-left" %> Terence joined DevCon in 2011 as a regular member and he is now its VP for Programs. He is also the community manager of the Philippine Ruby Users Group (PhRUG). He is a Ruby developer by trade. Learn more about him at <a href="http://terenceponce.github.com" target="_blank">terenceponce.github.com</a>.</p>
        </div>
      </div>

      <div class="row officer">
        <div class="col-sm-12 profile">
          <h3><span class="caps">Carlo Miguel Ledesma</span>, VP for Membership</h3>
          <p class="twitter-handle"><a href="http://twitter.com/Carlo_Ledesma" target="_blank">@Carlo_Ledesma</a></p>
          <p><%= image_tag "faq/carlo.jpg", :alt => "Carlo", :class => "profile-pic pull-left" %> Carlo is a junior software engineer and an avid fan of technology, particularly software architecture, mobile development and engineering best practices. He has been participating in DevCon events since 2010 and is now its VP for Membership.</p>
        </div>
      </div>

      <div class="row officer">
        <div class="col-sm-12 profile">
          <h3><span class="caps">Jossie Resma</span>, VP for Finance</h3>
          <p class="twitter-handle"><a href="http://twitter.com/JResma" target="_blank">@JResma</a></p>
          <p><%= image_tag "faq/jossie.jpg", :alt => "Jossie", :class => "profile-pic pull-left" %> Jossie, DevCon's VP for Finance, works full-time as a software engineer. She used to be the Sales Head of the Cagayan De Oro Quantum IT Convention. She graduated from Xavier University – Ateneo de Cagayan with a degree in Computer Science. Learn more about her at <a href="http://about.me/jossie.resma" target="_blank">about.me/jossie.resma</a>.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 col-sm-10 col-sm-offset-1 col-md-offset-2 ida-faq">
          <div class="thumbnail">
            <%= image_tag "faq/ida-award.jpg", :alt => "iDA SG award" %>
            <div class="caption">DevCon officers receiving a Plaque of Appreciation from<br/><a href="http://www.ida.gov.sg/Collaboration-and-Initiatives/Initiatives/Store/iSTART-Philippines.aspx/" target="_blank">iDA SG (Infocomm Development Authority of Singapore)</a></div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-12 col-md-offset-1">
          <div class="thumbnail">
            <%= image_tag "faq/officers-dinner.jpg", :alt => "Officers' Dinner" %>
            <div class="caption">DevCon Officers' Meeting at Racks El Pueblo</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row question" id="devcon-events">
    <div class="col-sm-12">
      <h2>What does DevCon do?</h2>

      <p>DevCon is the first of its kind in the Philippines to bring together software engineers, developers, programmers, students, educators, industry experts and technopreneurs where they are encouraged to interact and share insights. DevCon provides a relaxed venue for individuals to socialize with fellow geeks, mentors, employers and the rest of the IT community – its mission being to promote and propagate the software engineering profession in the country.</p>

      <p>DevCon was conceptualized to be a premier gathering of all Filipino software engineers in the country but in a short span of time, DevCon events have evolved from simple, three-part unconferences to focus group-driven geekups and code camps that envision the bridging of the academe–IT industry divide:</p>
      <ul>
        <li>
          <strong>Classic DevCon Events</strong> are designed to introduce technology topics and encourage interactions by means of three components:
          <ul>
            <li><strong>Lightning talks</strong> are very quick presentations delivered with or without auxiliary visual materials in a span of only 8–10 minutes, including Q&amp;A.</li>
            <li><strong>Birds of a Feather (BoF)</strong> is a friendly debate on trending IT topics.</li>
            <li>The <strong>hackathon</strong> is usually a one-hour competition that requires a team to execute a programming or web activity that results in a work product.</li>
          </ul>
        </li>
      </ul>
      <div class="row">
        <div class="col-md-6 col-sm-10 col-sm-offset-1 col-md-offset-3">
          <div class="thumbnail">
            <%= image_tag "faq/devconbai-mobilehack.jpg", :alt => "DevCon Bai Mobile Hackathon" %>
            <div class="caption">DevCon Bai Mobile Hackathon (Cebu)</a></div>

          </div>
        </div>
      </div>
      <ul>
        <li><strong>Campus DevCons</strong> are gatherings in partnership with schools that aim to augment the academic learnings of students with up-to-date trends in the IT industry. The event converges an average of 200 students taking up Computer Science or other IT-related courses and follows the format of a Classic DevCon event.</li>
      </ul>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="thumbnail">
            <%= image_tag "faq/campusdevcon-puptaguig.jpg", :alt => "PUP DevCon" %>
            <div class="caption"><a href="http://devcon.ph/events/campus-devcon-at-pup-taguig" target="_blank">Campus DevCon at PUP Taguig 2013</a></div>

          </div>
        </div>
      </div>

      <ul>
        <li><strong>DevCon Geekups</strong> are informal gatherings that allow IT students, educators and professionals to talk about the ingredients needed to improve the IT industry, as well as explore areas for collaboration.</li>
      </ul>
      <div class="row">
        <div class="col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-4">
          <div class="thumbnail">
            <%= image_tag "faq/cdo-earl.jpg", :alt => "Earl at CDO" %>
            <div class="caption">Earl Martin Valencia (center) of <a href="http://ideaspace.ph" target="_blank">IdeaSpace</a> at the DevCon Geekup in Cagayan De Oro</div>
          </div>
        </div>
      </div>

      <ul>
        <li><strong>DevCon Code Camps</strong> are technical sessions that seek to build up the technology capabilities of our IT professionals and students by collaborating with a number of technology user groups that can act as the backbone of these activities.</li>
      </ul>

      <div class="row">
        <div class="col-md-6 col-sm-6 col-sm-offset-3 col-md-offset-3">
          <div class="thumbnail">
            <%= image_tag "faq/railsgirls.jpg", :alt => "Rad Rails Girls" %>
            <div class="caption">Rad Batnag as a mentor in <a href="http://devcon.ph/events/rails-girls-manila" target="_blank">Rails Girls Manila 2012</a></div>

          </div>
        </div>
      </div>

      <ul>
        <li>The <strong>DevCon Summit</strong> is a national conference that aims to empower the Philippine IT community with up-to-date trends and opportunities in the information technology industry.</li>
      </ul>
      
    </div>
  </div>

  <div class="row question" id="joining-devcon">
    <div class="col-sm-12">
      <h2>How do I become a member of DevCon?</h2>
      
      <p>DevCon membership is based on meritocracy. The minimum requirement is for an individual to volunteer at least twice in separate DevCon-organized or DevCon partner events. Please remember that the volunteer work must be notable (eg, logistics support, speaker referral, event organization, photo/video documentation, etc).</p>

      <div class="row carlo-row">
        <div class="col-sm-3">
          <div class="carlo-caption">
            <p>Our VP for Membership Carlo Ledesma as a Participant in Globe Devathon</p>
            <p>(He started out as a co-organizer of a campus DevCon at the Mapúa Institute of Technology.)</p>
          </div>
        </div>
        <div class="col-sm-4">
          <%= image_tag "faq/devathon-carlo.jpg", :alt => "Carlo at Devathon" %>
        </div>
        <div class="col-sm-5">
          <%= image_tag "faq/devathon.jpg", :alt => "Globe Devathon" %>
        </div>
      </div>

      <p>In order to apply for membership, one must be nominated by an active DevCon member. This will be reviewed by the general membership of DevCon via online assessment and voting. Nominations are held each May and October of the year. To know more about becoming a member or volunteer, email our VP for Membership via <a href="mailto:carlo@devcon.ph">carlo@devcon.ph</a>.</p>
    </div>
  </div>

  <div class="row question" id="hosting-campus-devcon">
    <div class="col-sm-12">
      <h2>Can our school host a Campus DevCon?</h2>

      <p>Yes. Just send an email to our VP for Programs via <a href="mailto:terence@devcon.ph">terence@devcon.ph</a> indicating the following:</p>

      <ul>
        <li>Target Date, Time and Venue (with complete address)</li>
        <li>Estimated Number of Attendees</li>
        <li>Demographics of Attendees (year level, course/major)</li>
        <li>Desired Theme/Topics/Speakers</li>
        <li>About the School (map, links)</li>
        <li>Sponsors (if any)</li>
        <li>Point Person, Designation, Contact Details</li>
      </ul>

      <p>And here are the guidelines for hosting a Campus DevCon:</p>

      <ul> 
        <li>The invitation must be sent to DevCon via email at least a month in advance.</li>
        <li>Expenses of the speakers and DevCon members/volunteers related to food, travel and accommodations (if the school is in another region where an overnight stay is recommended) are to be shouldered by the school as much as possible.</li>
        <li>DevCon tarpaulins should be allowed to be displayed in the event premises.</li>
        <li>The venue must be conducive for a campus DevCon (ie, there's proper air-conditioning, a good sound system, an appropriate number of seats, etc).</li>
        <li>If the school lacks equipment (eg, projector, projector adapter for Mac), it must be made known beforehand so DevCon can source for one.</li>
        <li>Documentation (photo/video) can be shared to DevCon by means of social media.</li>
        <li>DevCon does not automatically provide schwags (freebies) so it's better if you find sponsors for that.</li>
      </ul>

      <p>A Campus DevCon may be organized without the assistance and/or presence of DevCon members provided that it has been pre-approved by the VP for Programs as an independently organized event. This may happen if the said school has already successfully held a Campus DevCon before or if there are DevCon volunteers or student partners coordinating with DevCon itself.</p>
    </div>
  </div>

  <div class="row question" id="devcon-chapters">
    <div class="col-sm-12">
      <h2>Does DevCon have local chapters?</h2>

      <p>Being a fast growing community, DevCon already has local chapters in <strong>Cebu</strong>, <strong>Davao</strong> and <strong>Cagayan de Oro (CDO)</strong>. Each chapter has its own steering committee and set of events. To apply for a local chapter, feel free to email our Executive Director via <a href="mailto:haifa@devcon.ph">haifa@devcon.ph</a>.</p>
    </div>
  </div>

  <div class="row chapter-images">
    <div class="col-sm-6">
      <%= image_tag "faq/bai-fzda.jpg", :alt => "DevCon Bai at hack2HATCH" %>
    </div>
    <div class="col-sm-6">
      <%= image_tag "faq/davao-um.jpg", :alt => "DevCon Davao at UM" %>
    </div>
  </div>
  <div class="row chapter-next-row chapter-images">
    <div class="col-sm-6 chapter-caption">
      <p>
        (clockwise from top left)<br/>
        DevCon Bai with Winston Damarillo and Fernando Zobel De Ayala at hack2HATCH Held in Cebu
      </p>
      <p>DevCon Davao Volunteers Together with Participants During the Campus DevCon at the University of Mindanao</p>
      <p>DevCon CDO Representatives and Attendees at the Geekup Dinner in Cagayan De Oro
    </div>
    <div class="col-sm-6">
      <%= image_tag "faq/cdo-geekup.jpg", :alt => "DevCon CDO" %>
    </div>
  </div>

  <div class="row question" id="achievements">
    <div class="col-sm-12">
      <h2>What are DevCon's achievements</h2>
      <p>DevCon is the youngest yet most comprehensive IT capabilities development organization in the Philippines. Known for hosting free <em>unconferences</em> for IT students, educators, professionals and enthusiasts, DevCon has grown to having over <em>20,000</em> participants since June 2009. It is highly sought after by educational institutions through its campus DevCon programs that aim to augment the academic learnings of students with up-to-date trends in the IT industry.</p>

      <p>Aside from its regular activities, DevCon also organizes special events that promote the IT industry. Two of the big special events so far are the Hack2Hatch: From Hacker to Founder and DevCon Code Challenge Cup (C-Cup).</p>
      
      <p><em>Hack2HATCH: From Hacker to Founder</em> was co-organized DevCon and PhilDev, a non-profit that promotes tech innovation in the Philippines. Hack2Hatch was a technopreneurship event in Cebu City held last 05-07 October 2012 in Radisson Blu Hotel and Mactan Shangri-La Resort where 22 Philippine startups competed to be among the top 8 teams to each get <em><%= number_to_currency 100000.00 %></em> in funding. Mentors and judges included Silicon Valley entrepreneurs, PhilDev board and trustees, and top businessmen in the country.</p>

      <div class="row hack2hatch-row">
        <div class="col-lg-10 col-md-10 col-sm-10 col-sm-offset-1">
          <div class="thumbnail h2h-faq">
            <%= image_tag "faq/h2h.jpg", :alt => "Hack2HATCH" %>
            <div class="caption"><a href="http://www.hack2hatch.com/" target="_blank">Hack2HATCH</a> Winners, Mentors and Judges at the Mactan Shangri-La Resort</div>
          </div>
        </div>
      </div>

      <p><em>DevCon Code Challenge Cup (C-Cup)</em>, held on November 2012, was a national algorithm programming competition mixed with the dexterity of a hackathon with over 45 high school, collegiate and professional teams participated in the event.</p>
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-sm-offset-2">
          <div class="thumbnail ccup">
            <%= image_tag "faq/ccup.jpg", :alt => "Code Challenge Cup" %>
            <div class="caption"><a href="http://devcon.ph/events/devcon-code-challenge-cup-c-cup" target="_blank">DevCon–Xavier Code Challenge Cup (C-Cup)</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row question" id="event-feeds">
    <div class="col-sm-12">
      <h2>How can I receive notifications about upcoming DevCon events?</h2>

      <p>The preferred way to receive notifications about upcoming events is to subscribe to our <strong>RSS feed</strong> with a feed aggregator like Feedly or Mozilla Thunderbird. Not only does this provide you more up-to-date notifications compared to the others in this list, you are also notified about new articles on this site.</p>
      <p>The URLs for the feeds are <a href="http://devcon.ph/feed">http://devcon.ph/feed</a> (Atom) and <a href="http://devcon.ph/feed.rss">http://devcon.ph/feed.rss</a> (RSS). Most feed aggregators can also automatically detect the appropriate address from the home page (<a href="http://devcon.ph">http://devcon.ph</a>).</p>
      <p>The next preferred method is to subscribe to our <strong>Event Calendar</strong> at <a href="http://devcon.ph/calendar.ics">http://devcon.ph/calendar.ics</a>. It's in <a href="http://en.wikipedia.org/wiki/ICalendar">iCalendar</a> format which means you can download the file and import it into your preferred calendar app. Some apps like Google Calendar and Mozilla Lightning also allow you to subscribe to the URL and have your calendar updated as soon as a new event is added to the calendar. <a href="https://support.google.com/calendar/answer/37100?hl=en">Here</a> are the instructions how to subscribe to the calendar using Google Calendar, while <a href="https://discussions.apple.com/message/23675414#23675414">this</a> shows how to do the same on an iOS device.</p>
      <p>You can also follow us on Twitter and Facebook (see "How do I reach DevCon?" below) but note that only major events are announced in those accounts. Also, due to last year's changes to Facebook Pages, announcements posted on our FB page may not show up in your news feed.</p>
      <p>Finally, you can also <a href="#joining-devcon">volunteer for DevCon</a> and receive information about events before they are posted.</p>
    </div>
  </div>

  <div class="row question" id="contact">
    <div class="col-sm-12">
      <h2>How do I reach DevCon?</h2>

      <p>For general inquiries, email <a href="mailto:mailbox@devcon.ph">mailbox@devcon.ph</a> or <a href="mailto:haifa@devcon.ph">haifa@devcon.ph</a>.</p>
      <p>For inquiries on membership and volunteer activities, email <a href="mailto:carlo@devcon.ph">carlo@devcon.ph</a>.</p>
      <p>For event proposals and campus DevCon inquiries, email <a href="mailto:terence@devcon.ph">terence@devcon.ph</a>.</p>
      <p>For details on how to sponsor DevCon events, email <a href="mailto:jossie@devcon.ph">jossie@devcon.ph</a>.</p>
      <p>For technology-related inquiries and website concerns, email <a href="mailto:bry@devcon.ph">bry@devcon.ph</a>.</p>
      <p>For event invites and to sign up for our mailing list, email <a href="mailto:florida@devcon.ph">florida@devcon.ph</a>.</p>
      <p>For daily updates and interaction, follow us in any or all of these social networks:</p>
      <p>
        Twitter: <a href="https://twitter.com/DevConPH">@DevConPH</a><br/>
        Facebook Page: <a href="http://www.facebook.com/DevConPH">DevCon Philippines</a><br/>
        Facebook Group: <a href="http://www.facebook.com/groups/devconph/">DevCon Philippines</a><br/>
        Eventbrite: <a href="http://devconph.eventbrite.com/">DevConPH</a><br/>
        YouTube: <a href="http://youtube.com/DevConPH/">DevConPH</a>
      </p>
    </div>
  </div>
</div>
<% end %>
