<% title ENV['title'] %>
<% description "Developers Connect Philippines (DevCon) is a non-proﬁt organization which aims to promote the \"IT Pinoy Talent\" mainly by providing a unique venue for IT students, educators, professionals and enthusiasts to Sync, Support and Succeed." %>
<% set_meta_tags :open_graph => {
  :title => "#{ENV['title']}",
  :description => "Developers Connect Philippines (DevCon) is a non-proﬁt organization which aims to promote the \"IT Pinoy Talent\" mainly by providing a unique venue for IT students, educators, professionals and enthusiasts to Sync, Support and Succeed.",
  :type  => :website,
  :url   => root_url,
  :image => opengraph_thumb_url
} %>
<div class="hero-unit">
  <h1>
    <%= link_to root_path do %>
      <%= image_tag "logo.png", :title => "Developers Connect" %>
    <% end %> 
  </h1>
  <p class="blurb"><strong>Developers Connect Philippines (DevCon)</strong> is a non-proﬁt organization which aims to promote the "IT Pinoy Talent" mainly by providing a unique venue for IT students, educators, professionals and enthusiasts to <em>Sync, Support and Succeed.</em></p>

</div>
<div class="row-fluid">
  <div class="offset1 span10">
    <div class="row-fluid event-types">
      <div class="span4">
        <h3>Lightning Talks</h3>
        <p>Lightning talks are very quick presentations delivered with or without auxiliary visual materials. Each speakers has a maximum of 10 minutes to present his idea, including preparation time, self, introduction, Q&amp;A, etc.</p>
      </div>
      <div class="span4">
        <h3>Birds of a Feather</h3>
        <p>An informal collaborative discussion among like-minded (and sometimes with opposing views) developers covering topics within similar interests. </p>
      </div>
      <div class="span4">
        <h3>Hackathon</h3>
        <p>The hackathon is usually a one-hour competition that requires a team to execute a programming or web activity that results in a work product that can be judged. Participants will be provided with the tool or platform site.</p>
      </div>
    </div>
    <div class="row-fluid event-types">
      <div class="span4">
        <h3>Campus DevCon</h3>
        <p>In partnership with schools/colleges, each campus DevCon converges an average of 200 students taking up Computer Science and other IT-related courses.</p>
      </div>
      <div class="span4">
        <h3>DevCon Geekup</h3>
        <p>As prelude to another DevCon event, the geekup was tailored to accommodate inquiries about DevCon itself and the foundation. You tell us how we can help you via small group sessions.</p>
      </div>
      <div class="span4">
        <h3>DevCon Code Camp</h3>
        <p>A technical session that seeks to build up the technology capabilities of our IT professionals, this can cover any specific type of development: from web and mobile to game and cloud, from Java and Ruby to .NET and project management. </p>
      </div>
    </div>
  </div>
</div>
<div class="row partner-area">
  <div class="span12">
    <h2>Platinum Partners</h2>
    <ul class="partner-list clearfix">
      <li><a href="http://ph.blackberry.com/"><%= image_tag "BlackBerry_Logo_Preferred_Black_R.jpg", :alt => "BlackBerry" %></a></li>
      <li><a href="http://www.morphlabs.com/"><%= image_tag "morphlabs.jpg", :alt => "Morphlabs" %></a></li>
      <li><a href="http://www.exist.com/"><%= image_tag "exist.jpg", :alt => "Exist" %></a></li>
    </ul>
  </div>
</div>
<div class="row-fluid frontpage-share">
  <div class="span6">
    <a class="twitter-timeline" href="https://twitter.com/DevConPH" data-widget-id="309122045189427200">Tweets by @DevConPH</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
  <div class="span6">
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div id="fb-root"></div>
    <div class="fb-like-box" data-href="http://www.facebook.com/DevConPH" data-width="400" data-show-faces="true" data-stream="false" data-header="false"></div>
    <p class="facebook-group"><%= link_to "Join our Facebook Group", "http://www.facebook.com/groups/devconph/" %></p>
  </div>
</div>
