<% description "Developers Connect Philippines (DevCon) is a non-proﬁt organization which aims to promote the \"IT Pinoy Talent\" mainly by providing a unique venue for IT students, educators, professionals and enthusiasts to Sync, Support and Succeed." %>
<% set_meta_tags :open_graph => {
  :title => "#{ENV['title']}",
  :description => "Developers Connect Philippines (DevCon) is a non-proﬁt organization which aims to promote the \"IT Pinoy Talent\" mainly by providing a unique venue for IT students, educators, professionals and enthusiasts to Sync, Support and Succeed.",
  :type  => :website,
  :url   => root_url,
  :image => [opengraph_thumb_url, { :width => 200, :height => 200 }]
} %>
<div class="jumbotron">
  <div class="row">
    <div class="col-md-12">
      <h1>
        <%= link_to root_path do %>
          <%= image_tag "logo.png", :title => "Developers Connect", :class => 'long' %>
        <% end %> 
      </h1>
      <p class="blurb"><strong>Developers Connect Philippines (DevCon)</strong> is a non-proﬁt organization which aims to promote the "IT Pinoy Talent" mainly by providing a unique venue for IT students, educators, professionals and enthusiasts to <em>Sync, Support and Succeed.</em></p>
    </div>
    <div class="col-md-12 avp">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="//www.youtube-nocookie.com/embed/hMwDI_nv5xU?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row devise-row">
  <div class="col-sm-3">
    <%= image_tag 'devise-logo.jpg' %>
  </div>
  <div class="col-sm-9">
    <h2>Join the Cause. Make a difference.</h2>
    <p>
      <strong>DevCon Devise</strong> is a national competition that aims to challenge students in solving real world problems with mobile applications. The winning teams will receive more than ₱100,000 worth of cash prizes and freebies from partners.
    </p>
    <p>This year’s theme is <em>Public Safety and Disaster Preparedness</em>.</p>
    <p><a href="http://devise.devcon.ph" class="btn btn-success btn-lg">Learn More &raquo;</a></p>
  </div>
</div>
<hr>
<div class="support-options">
  <div class="row">
    <div class="col-sm-12"><h3>How you can get involved with DevCon:</h3></div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <%= image_tag 'volunteer.jpg', :class => "img-thumbnail" %>
      <h3>Be a Volunteer</h3>
      <p>Pick up new skills and make new friends. We have many volunteer opportunities for students and professionals.</p>
      <p><%= link_to "Volunteer &raquo;".html_safe, volunteer_path, :class => "btn btn-default btn-success btn-lg" %></p>
    </div>
    <div class="col-sm-4">
      <%= image_tag 'teach.jpg', :class => "img-thumbnail" %>
      <h3>Be a Speaker</h3>
      <p>Share your knowledge and experiences in the IT industry through short lightning talks or day-long workshops.</p>
      <p><%= link_to "Teach &raquo;".html_safe, speaker_path, :class => "btn btn-default btn-success btn-lg" %></p>
    </div>
    <div class="col-sm-4">
      <%= image_tag 'sponsor.jpg', :class => "img-thumbnail" %>
      <h3>Sponsor Events</h3>
      <p>DevCon events are free and are made possible by the generous support from the community.</p>
      <p><%= link_to "Sponsor &raquo;".html_safe, sponsor_path, :class => "btn btn-default btn-success btn-lg" %></p>
    </div>
  </div>
</div>
<div class="row partner-area">
  <div class="col-sm-12">
    <h2>Platinum Partners</h2>
    <p class="partner-list clearfix">
      <a href="http://www.elance.com/"><%= image_tag "elance-odesk.png", :alt => "Elance.com", :class => 'long' %></a>
      <a href="http://streamenginestudios.com/"><%= image_tag "stream-engine.png", :alt => "Stream Engine Studios", :class => 'long' %></a>
      <a href="http://www.exist.com/"><%= image_tag "exist.png", :alt => "Exist" %></a>
      <a href="http://acale.ph/"><%= image_tag "acaleph.png", :alt => "Acaleph" %></a>
      <a href="http://www.foodpanda.ph/"><%= image_tag "foodpanda.png", :alt => "Foodpanda" %></a>
    </p>
  </div>
</div>
<div class="row frontpage-lists">
  <div class="col-md-6 frontpage-twitter">
    <a class="twitter-timeline" href="https://twitter.com/DevConPH" data-widget-id="309122045189427200">Tweets by @DevConPH</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
  <div class="col-md-6 events">
    <h2><%= @events_type %></h3>
    <% @events.each do |event| %>
      <div class="row">
        <div class="col-sm-2 col-md-3 col-lg-2">
          <%= image_tag event.logo.small %>
        </div>
        <div class="col-sm-10 col-md-9 col-lg-10">
          <h3><%= link_to event.name, event, :class => 'title' %></h3>
          <p><small>
            <%= l(event.start_at, :format => :long) %> 
            <% if event.start_at.future? %>
              (<%= distance_of_time_in_words_to_now event.start_at %> from now)
            <% else %>
              to
              <%= l(event.end_at, :format => :long) %> 
            <% end %>
          </small></p>
        </div>
      </div>
    <% end %>
    <p><%= link_to "View full list of Events &raquo".html_safe, events_path, :class => "btn btn-success btn-lg" %></p>
  </div>
</div>
