<div class="hero-unit">
  <h1>
    <%= link_to root_path do %>
      <%= image_tag "logo.png", :title => "Developers Connect" %>
    <% end %> 
  </h1>
  <p class="blurb">Developers Connect Philippines (DevCon) is a non-stock, non-proﬁt organization which aims to promote the "IT Pinoy Talent" mainly by providing a unique venue for IT educators and students, IT professionals and IT enthusiasts to Sync, Support and Succeed.</p>
</div>
<div class="row-fluid">
  <div class="offset1 span10">
    <div class="row-fluid event-types">
      <div class="span4">
        <h3>Lightning Talks</h3>
        <p>Lightning talks are very quick presentations delivered with or without auxiliary visual materials. Each speakers has a maximum of 10 minutes to present his idea, including preparation time, self, introduction, Q&A, etc.</p>
      </div>
      <div class="span4">
        <h3>Birds of a Feather</h3>
        <p>An informal collaborative discussion among like-minded (and sometimes with opposing views) developers covering topics within similar interests. </p>
      </div>
      <div class="span4">
        <h3>Hackathon</h3>
        <p>The hackathon is usually a one-hour competition that requires a team to execute a programming or web activity that results in a work product that can be judged. Participants will be provided with the tool or platform site.</p>
      </div>
    </div>
    <div class="row-fluid event-types">
      <div class="span4">
        <h3>Campus DevCon</h3>
        <p>In partnership with schools/colleges, each campus DevCon converges an average of 200 students taking up Computer Science and other IT-related courses.</p>
      </div>
      <div class="span4">
        <h3>DevCon Geekup</h3>
        <p>As prelude to another DevCon event, the geekup was tailored to accommodate inquiries about DevCon itself and the foundation. You tell us how we can help you via small group sessions.</p>
      </div>
      <div class="span4">
        <h3>DevCon Code Camp</h3>
        <p>A technical session that seeks to build up the technology capabilities of our IT professionals, this can cover any specific type of development: from web and mobile to game and cloud, from Java and Ruby to .NET and project management. </p>
      </div>
    </div>
  </div>
</div>
<div class="row partner-area">
  <div class="span12">
    <h2>Our Awesome Partners</h2>
    <ul class="partner-list clearfix">
      <li><a href="http://www.phildev.org/site/PageServer"><%= image_tag "phildev.jpg", :alt => "PhilDev" %></a></li>
      <li><a href="http://www.ibm.com/ph/en/"><%= image_tag "ibm.jpg", :alt => "IBM" %></a></li>
    </ul>
    <h2>Our Cool Partners</h2>
    <ul class="partner-list clearfix">
      <li><a href="http://www.microsoft.com/en-ph/default.aspx"><%= image_tag "microsoft.jpg", :alt => "Microsoft" %></a></li>
      <li><a href="http://www.exist.com/"><%= image_tag "exist.jpg", :alt => "Exist" %></a></li>
      <li><a href="http://www.morphlabs.com/"><%= image_tag "morphlabs.jpg", :alt => "Morphlabs" %></a></li>
      <li><a href="http://ph.blackberry.com/"><%= image_tag "BlackBerry_Logo_Preferred_Black_R.jpg", :alt => "BlackBerry" %></a></li>
    </ul>
  </div>
</div>

