<div class="row faq">
  <div class="col-sm-9">
    <h1>DevCon Officers</h1>

    <div class="row" id="founder">
      <div class="col-sm-12 profile">
        <h3><span class="caps">Winston Damarillo</span>, Founder</h3>
        <p class="twitter-handle"><a href="http://twitter.com/YGLWinston" target="_blank">@YGLWinston</a></p>
        <p><%= image_tag "faq/winston.jpg", :alt => "Winston", :class => "profile-pic pull-left" %> A seasoned technopreneur and founder of DevCon, US-based Winston Damarillo has always been an advocate of the ICT sector in the Philippines and a believer of Filipino software engineering talent. Quarterly, he travels to the country to conduct talks, inspiring students and new software developers. As a technopreneur, Winston’s past endeavors include several companies which Winston grew to profitability and subsequently sold to major IT players: Gluecode Software, an open source application infrastructure company which was acquired by IBM in 2005, Logicblaze, acquired by Iona Technologies in 2007, and Webtide, acquired by Intalio in 2009. Winston is the chairman of the board of directors for Exist Software Labs and MaestroDev.</p>
      </div>
    </div>

    <h2>Officers for 2014</h2>

    <div class="row officer">
      <div class="col-sm-12 profile">
        <h3 id="president"><span class="caps">Bryan Bibat</span>, President</h3>
        <p class="twitter-handle"><a href="http://twitter.com/bry_bibat" target="_blank">@bry_bibat</a></p>
        <p><%= image_tag "faq/bry.jpg", :alt => "Bry", :class => "profile-pic pull-left" %> Bry is a retired freelance software engineer with nine years of experience in web development in both enterprise and non-enterprise applications. He is currently an active evangelist for the Philippine Ruby Users Group (<%= link_to "PhRUG", "http://pinoyrb.org" %>) and a <%= link_to "book writer", "https://leanpub.com/u/bryanbibat" %>. Learn more about him at <a href="http://bryanbibat.net" target="_blank">bryanbibat.net</a>.</p>
      </div>
    </div>

    <div class="row officer">
      <div class="col-sm-12 profile">
        <h3><span class="caps">Haifa Carina Baluyos</span>, Executive Director</h3>
        <p class="twitter-handle"><a href="http://twitter.com/HaifaCarina" target="_blank">@HaifaCarina</a></p>
        <p><%= image_tag "faq/haifa.jpg", :alt => "Haifa", :class => "profile-pic pull-left" %> Haifa currently serves as the Executive Director of DevCon following her term as VP for Finance, and before that, as Executive Associate. She graduated with a bachelor's degree in Computer Science from Xavier University – Ateneo de Cagayan in 2011. She used to work as an iOS developer. Learn more about her at <a href="http://haifacarina.com" target="_blank">haifacarina.com</a>.</p>
      </div>
    </div>

    <div class="row officer">
      <div class="col-sm-12 profile">
        <h3><span class="caps">Ren Joshua Ramirez</span>, VP for Marketing</h3>
        <p class="twitter-handle"><a href="http://twitter.com/rjdtramirez" target="_blank">@rjdtramirez</a></p>
        <p><%= image_tag "faq/rj.jpg", :alt => "RJ", :class => "profile-pic pull-left" %> RJ is currently working as a full-time software engineer, He started volunteering for DevCon in 2013 when he was still a student. He graduated from Far Eastern University - East Asia College with a degree in Information Technology.</p>
      </div>
    </div>

    <div class="row officer">
      <div class="col-sm-12 profile">
        <h3><span class="caps">Terence Matthew Ponce</span>, VP for Techology</h3>
        <p class="twitter-handle"><a href="http://twitter.com/terenceponce" target="_blank">@terenceponce</a></p>
        <p><%= image_tag "faq/terence.jpg", :alt => "Terence", :class => "profile-pic pull-left" %> Terence joined DevCon in 2011 as a regular member, became the VP for Programs in 2013 and he is now the VP for Technology. Outside of DevCon, he works as a Ruby developer and he is also the community manager of the Philippine Ruby Users Group (PhRUG). Learn more about him at <a href="http://terenceponce.com" target="_blank">terenceponce.com</a>.</p>
      </div>
    </div>

    <div class="row officer">
      <div class="col-sm-12 profile">
        <h3><span class="caps">Nathaniel Cailo</span>, VP for Programs</h3>
        <p class="twitter-handle"><a href="https://twitter.com/nathanie0221" target="_blank">@nathanie0221</a></p>
        <p><%= image_tag "faq/nath.jpg", :alt => "Nath", :class => "profile-pic pull-left" %>Nath attended his first DevCon event last 2011. Since then, he has been helping DevCon and other tech groups in their events. A recent graduate from PUP-Manila, he's currently working as a web developer for a company in Denmark. He's a hardcore Ingress player who plays the piano at his spare time. This dude loves pizza...</p>
      </div>
    </div>

    <div class="row officer">
      <div class="col-sm-12 profile">
        <h3><span class="caps">Carlo Miguel Ledesma</span>, VP for Membership</h3>
        <p class="twitter-handle"><a href="http://twitter.com/Carlo_Ledesma" target="_blank">@Carlo_Ledesma</a></p>
        <p><%= image_tag "faq/carlo.jpg", :alt => "Carlo", :class => "profile-pic pull-left" %> Carlo is a junior software engineer and an avid fan of technology, particularly software architecture, mobile development and engineering best practices. He has been participating in DevCon events since 2010 and is now its VP for Membership.</p>
      </div>
    </div>

    <div class="row officer">
      <div class="col-sm-12 profile">
        <h3><span class="caps">Jossie Resma</span>, VP for Finance</h3>
        <p class="twitter-handle"><a href="http://twitter.com/JResma" target="_blank">@JResma</a></p>
        <p><%= image_tag "faq/jossie.jpg", :alt => "Jossie", :class => "profile-pic pull-left" %> Jossie, DevCon's VP for Finance, works full-time as a software engineer. She used to be the Sales Head of the Cagayan De Oro Quantum IT Convention. She graduated from Xavier University – Ateneo de Cagayan with a degree in Computer Science. Learn more about her at <a href="http://about.me/jossie.resma" target="_blank">about.me/jossie.resma</a>.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-md-offset-3">
        <div class="thumbnail">
          <%= image_tag "faq/2014-officers.jpg", :alt => "elected officers", :size => "480x320" %>
          <div class="caption">DevCon's elected officers for 2014-2015</div>
        </div>
      </div>
    </div>


  </div>
  <%= render :partial => 'about_sidebar', :locals => { :selected => 'officers' } %>
</div>
