<% title "Become a Volunteer" %>
<% description "We're always looking for people who have spare time to share to our cause." %>
<% set_meta_tags :open_graph => {
  :title => "Become a Volunteer | #{ENV['title']}",
  :description => "We're always looking for people who have spare time to share to our cause.",
  :type  => :article,
  :url   => volunteer_url,
  :image => opengraph_thumb_url
} %>
<div class="row faq">
  <div class="col-sm-9">
    <h1>Become a Volunteer</h1>

    <p>We're always looking for people who have spare time to share to our cause.</p>

    <p>Anyone can be a volunteer. Students, professionals, and educators are all welcome to join our group of volunteers. You don't even need to be in the IT field to join - in fact, most of what volunteers do are not directly related to IT:</p>

    <ul>
      <li><strong>Logistics</strong> - planning and coordination of events, scouting out new venues</li>
      <li><strong>Marketing</strong> - preparing advertising material and releasing them, engaging with the community</li>
      <li><strong>Technical</strong> - maintaining this website, conducting the Java Code Challenge, <%= link_to "speaking in events", speaker_path %></li>
      <li><strong>Membership</strong> - recruiting and training volunteers, organizing the members, keeping in touch with inactive members</li>
      <li><strong>Office Administration</strong> - processing paperwork, auditing and finances, looking for sponsors</li>
      <li><strong>General</strong> - setting up and manning booths, ushering attendees, etc.</li>
    </ul>

    <p>There are still some situations which can prevent one from becoming a volunteer, however. For example, individuals who live far away from <%= link_to "regional chapters", chapters_path %> would be limited to doing remote work.</p>

    <p><%= link_to "Sign up as a Volunteer &raquo;".html_safe, "https://docs.google.com/a/devcon.ph/forms/d/1i-rhXPwGKFBSMgZNkcnzYVs-ZHOQA-Ao9Hu3j8T2wbM/viewform", :class => "btn btn-default btn-success btn-lg" %></p>

    <h2>DevCon Membership</h2>

    <p>Volunteers who have done notable work at least twice in separate DevCon-organized or DevCon partner events are eligible to become full-fledged <strong>DevCon Members</strong>.</p>

    <div class="row carlo-row">
      <div class="col-sm-4 col-sm-push-3">
        <%= image_tag "faq/devathon-carlo.jpg", :alt => "Carlo at Devathon" %>
      </div>
      <div class="col-sm-5 col-sm-push-3">
        <%= image_tag "faq/devathon.jpg", :alt => "Globe Devathon" %>
      </div>
      <div class="col-sm-3 col-sm-pull-9">
        <div class="carlo-caption">
          <p>Our VP for Membership Carlo Ledesma as a Participant in Globe Devathon</p>
          <p>(He started out as a co-organizer of a campus DevCon at the Mapúa Institute of Technology.)</p>
        </div>
      </div>
    </div>

    <p>Members receive more tasks and far more responsibility than regular volunteers. In exchange, they get more out of DevCon activities (e.g. travel opportunities, priority on freebies) and have a greater say in the direction of the organization. Members are also eligible to become <%= link_to "DevCon Officers", officers_path %> in the future.</p>

    <p>Volunteers are nominated by active DevCon members, which then pass through a review by the general membership of DevCon via online assessment and voting. Nominations are held each May and October of the year.</p>
    
    <p>To know more about becoming a member or volunteer, email our VP for Membership via <a href="mailto:carlo@devcon.ph">carlo@devcon.ph</a>.</p>
  </div>
  
  <%= render :partial => 'gi_sidebar', :locals => { :selected => 'volunteer' } %>
</div>
