<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<%= simple_form_for(resource,
    :as => resource_name,
    :url => registration_path(resource_name),
    :html => { :class => 'form-horizontal' }) do |f| %>

  <%= render :partial => 'devise/shared/error_messages',
             :locals => { :form => f } %>

  <%= f.input :email,
              :hint => 'Enter your email address',
              :input_html => { :class => 'input-xlarge' } %>
  <%= f.input :name,
              :hint => 'Enter your name' %>
  <%= f.input :password,
              :hint => 'Enter password' %>
  <%= f.input :password_confirmation,
              :hint => 'Confirm password' %>
              
  <div class="form-actions">
    <%= f.button :submit,
                 'Sign up',
                 :class => 'btn btn-large btn-primary' %>
    <%= submit_tag 'Clear form',
                 :type => :reset,
                 :class => 'btn btn-danger' %>
  </div>
<% end %>

<%= render :partial => 'devise/shared/links' %>