<div class="row article">
  <div class="col-md-2 col-sm-3">
    <%= image_tag article.thumbnail.thumb %>
  </div>
  <div class="col-md-10 col-sm-9">
    <h2><%= link_to article.title, article, :class => 'title' %></h2>
    <p><small>
      <%= l(article.created_at, :format => :friendly_date) %> 
      | by
      <% if article.author.name.blank? %>
        <%= link_to article.author.email, article.author %>
      <% else %>
        <%= link_to article.author.name, article.author %>
      <% end %>
      |
      <%= link_to "", article_url(article) + "#disqus_thread" %>
    </small></p>
    <p class="summary">
      <%= article.summary %>
      <% if can? :update, article %>
        <%= link_to 'Edit', edit_article_path(article) %>
      <% end %>
      <% if can? :destroy, article %>
        <%= link_to 'Destroy', article_path(article), :data => { :confirm => 'Are you sure?' }, :method => :delete %>
      <% end %>
    <p>
  </div>
</div>
