<h1 class="article-info">
  <%= link_to article.title, article, :class => 'article-title' %><br />
  <small>
    Written by
    <% if article.author.name.blank? %>
      <%= link_to article.author.email, article.author %>
    <% else %>
      <%= link_to article.author.name, article.author %>
    <% end %>
    on <%= l(article.created_at, :format => :friendly_date) %>
    <% if user_signed_in? %>
      <% if current_user.id == article.author.id %>
        <%= link_to 'Edit article', edit_article_path(article) %>
      <% end %>
    <% end %>
  </small>
</h1>
<section class="article-content">
  <%= raw article.content %>
</section>
