<%= simple_form_for(@article,
    :wrapper_mappings => {
      :check_boxes => :vertical_radio_and_checkboxes,
      :radio_buttons => :vertical_radio_and_checkboxes,
      :file => :vertical_file_input,
      :boolean => :vertical_boolean }) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <%= f.input :title %>
  <% unless @article.slug.blank? %>
    <%= f.input :slug, :hint => "For permalink" %>
  <% end %>

  <%= f.input :draft, :hint => "Draft articles will not be shown to the public" %>

  <%= render :partial => "shared/view_thumbnail", :locals => { :obj => @article } %>
  <%= f.input :thumbnail, :as => :file %>
  <%= f.input :content,
              :as => :ckeditor %>
  <%= f.input :summary, :input_html => { class: 'input-xxlarge editor-html', size: "500x6" }, :hint => "A shorter description for use in places where the full description would be overkill." %>
  <%= f.association :categories, :as => :check_boxes %>

  <div class="form-actions">
    <%= f.button :submit,
                 :class => 'btn btn-large btn-primary' %>
  </div>
<% end %>
