<% provide(:title, 'Edit article') %>
<h1>Edit article</h1>
<%= simple_form_for(@article) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <%= f.input :title %>
  <%= f.input :content,
              :as => :ckeditor %>

  <div class="form-actions">
    <%= f.button :submit,
                 'Update',
                 :class => 'btn btn-large btn-primary' %>
  </div>
<% end %>