<% title @article.title %>
<% description generate_description(@article.summary) %>
<% set_meta_tags :open_graph => {
  :title => "#{@article.title} | #{ENV['title']}",
  :description => generate_description(@article.summary),
  :type  => :article,
  :url   => article_url(@article),
  :image => [thumbnail_url(@article), { :width => 200, :height => 200 }]
} %>

<div class="row article">
  <% cache [@article, "top"] do %>
  <div class="col-lg-2 col-md-2">
    <%= image_tag @article.thumbnail.thumb %>
  </div>
  <div class="col-lg-10 col-md-10">
    <h1><%= link_to @article.title, @article, :class => 'title' %></h1>
    <p><small>
      <%= l(@article.created_at, :format => :friendly_date) %> 
      | by
      <% if @article.author.name.blank? %>
        <%= link_to @article.author.email, @article.author %>
      <% else %>
        <%= link_to @article.author.name, @article.author %>
      <% end %>
      |
      <% if @article.categories.any? %>
        <%= @article.categories.count == 1 ? 'Category' : 'Category'.pluralize %>: 
        <% @article.categories.each do |category| %>
          <%= link_to category.name, category %> 
        <% end %>
      <% end %>
      <% if @article.draft? %>
        |
        <span class="label label-info">draft</span>
      <% end %>
    </small></p>
    <div class="article-content">
      <%= raw @article.content %>
      <p>
        <%= link_to 'Back to articles', articles_path %>
  <% end %>
        <% if can? :update, @article %>
          <%= link_to 'Edit', edit_article_path(@article) %>
        <% end %>
        <% if can? :destroy, @article %>
          <%= link_to 'Destroy', article_path(@article), :data => { :confirm => 'Are you sure?' }, :method => :delete %>
        <% end %>
  <% cache [@article, "bottom"] do %>
      </p>
    </div>
    <div class="row social-sharing">
      <%= render "shared/social_sharing" %>
    </div>
    <div id="disqus_thread"></div>
  </div>
</div>

<%= render :partial => "shared/disqus_comments" %>
  <% end %>
