<% provide(:title, @article.title) %>
<h1 class="article-info">
  <%= @article.title %><br />
  <small>
    Written by
    <% if @article.author.name.blank? %>
      <%= link_to @article.author.email, @article.author %>
    <% else %>
      <%= link_to @article.author.name, @article.author %>
    <% end %>
    on <%= l(@article.created_at, :format => :friendly_date) %>
  </small>
</h1>
<section class="article-content">
  <%= raw @article.content %>
</section>
<%= link_to 'Back to articles', articles_path %>
<% if can? :update, @article %>
  <%= link_to 'Edit', edit_article_path(@article) %>
<% end %>
<% if can? :destroy, @article %>
  <%= link_to 'Destroy', article_path(@article), :confirm => 'Are you sure?', :method => :delete %>
<% end %>
<h2>Comments</h2>
<div>
  <% if @article.comments.any? %>
    <ul class="comments">
      <%= render @comments %>
    </ul>
    <%= will_paginate @comments %>
  <% end %>
  <% if can? :create, @comment %>
    <%= simple_form_for([@article, @comment]) do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>
      <%= f.input :content, :label => 'Comment' %>

      <div class="form-actions">
        <%= f.button :submit,
                     'Submit comment',
                     :class => 'btn btn-large btn-primary' %>
      </div>
    <% end %>
  <% end %>
</div>
