<% provide(:title, 'Resend unlock instructions') %>
<h1>Resend unlock instructions</h1>
<%= simple_form_for(resource,
    :as => resource_name,
    :url => unlock_path(resource_name),
    :html => { :method => :post }) do |f| %>
  
  <%= render :partial => 'devise/shared/error_messages',
             :locals => { :form => f } %>

  <%= f.input :email, :required => true %>

  <div class="form-actions">
    <%= f.button :submit, 'Resend unlock instructions' %>
  </div>
<% end %>

<%= render :partial => 'devise/shared/links' %>