<%= render 'shared/error_messages', :object => f.object %>

<%= f.association :event, :input_html => { :class => "input-xxlarge", :disabled => :true } %>
<%= f.association :resource_person, :input_html => { :class => "input-xxlarge" } %>
<%= f.input :custom_title %>
<%= f.input :custom_description, :as => :ckeditor %>
<%= f.input :role %>

<div class="form-actions">
  <%= f.button :submit, :class => 'btn btn-primary' %>
  <%= link_to "Cancel", event_path(f.object.event), :class => "btn" %>
</div>
