<% provide(:title, 'Profile') %>
<h1>
  <%= gravatar_for @user %>
  <% if @user.name.blank? %>
    <%= @user.email %>
  <% else %>
    <%= @user.name %>
  <% end %>
</h1>
<div>
  <% if @user.articles.any? %>
    <h2>Articles (<%= @user.articles.count %>)</h2>
    <ol class="articles-list">
      <%= render @articles %>
    </ol>
    <%= will_paginate @articles %>
  <% end %>
</div>