<% provide(:title, 'Change password') %>
<h1>Change your password</h1>
<%= simple_form_for(resource,
    :as => resource_name,
    :url => password_path(resource_name),
    :html => { :method => :put }) do |f| %>

  <%= render :partial => 'devise/shared/error_messages',
             :locals => { :form => f } %>
             
  <%= f.input :reset_password_token, :as => :hidden %>
  <%= f.full_error :reset_password_token %>

  <%= f.input :password,
              :label => 'New password',
              :required => true %>
  <%= f.input :password_confirmation,
              :label => 'Confirm your new password',
              :required => true %>

  <div class="form-actions">
    <%= f.button :submit, 'Change my password' %>
  </div>
<% end %>

<%= render :partial => 'devise/shared/links' %>