<% provide(:title, 'Forgot password') %>
<h1>Forgot your password?</h1>
<%= simple_form_for(resource,
    :as => resource_name,
    :url => password_path(resource_name),
    :html => { :method => :post }) do |f| %>

  <%= render :partial => 'devise/shared/error_messages',
             :locals => { :form => f } %>

  <%= f.input :email,
              :required => true %>

  <div class="form-actions">
    <%= f.button :submit, 'Send me reset password instructions' %>
  </div>
<% end %>

<%= render :partial => 'devise/shared/links' %>