<div class="row event">
  <div class="col-md-2 col-sm-3">
    <%= image_tag event.logo.thumb %>
  </div>
  <div class="col-md-10 col-sm-9">
    <h2><%= link_to event.name, event, :class => 'title' %></h2>
    <p><small>
      <%= l(event.start_at, :format => :long) %> 
      to
      <%= l(event.end_at, :format => :long) %> 
      <% if event.start_at.future? %>
        (<%= distance_of_time_in_words_to_now event.start_at %> from now)
      <% end %>
      |
      <%= link_to "", event_url(event) + "#disqus_thread" %>
    </small></p>
    <p class="summary">
      <%= event.summary %>
      <% if can? :manage, Event %>
        <%= link_to "Edit", edit_event_path(event) %>
        <%= link_to "Destroy", event, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
    </p>
    <% unless event.subevents.empty? %>
      <p class="parent-note">This event is made up of the following sub-events:</p>
      <% event.subevents.each do |subevent| %>
        <h3 class="parent-note"><%= link_to subevent.name, subevent %></li>
      <% end %>
    <% end %>
  </div>
</div>
