<% entity = event_partner.entity %>
<div class="row">
  <% unless entity.logo.blank? %>
    <div class="col-lg-2 col-md-2 col-sm-2">
      <%= image_tag entity.logo.medium.url %>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10">
  <% else %>
    <div class="col-lg-12 col-md-12 col-sm-12">
  <% end %>
    <h3 class="subtitle"><%= link_to entity.name, entity %></h2>
    <h4 class="role"><%= event_partner.role %></h4>
    <% if event_partner.custom_blurb.blank? %>
      <%= raw entity.blurb %>
    <% else %>  
      <%= raw event_partner.custom_blurb %>
    <% end %>
    <% if can? :manage, EventPartner %>
      <p><%= link_to "Edit Event Partner", edit_event_event_partner_path(event_partner.event, event_partner), :class => "btn btn-default" %></p>
    <% end %>  
  </div>
</div>
