<%= simple_form_for(@event) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <%= f.input :name %>
  <% unless @event.new_record? %>
    <%= f.input :slug %>
  <% end %>
  <%= f.association :parent %>
  <%= f.input :logo, :as => :file, :hint => "a square logo, at least 200px x 200px" %>
  <%= f.input :cover_photo, :as => :file, :hint => "at least 940px x 315px" %>
  <%= f.input :summary, :input_html => { class: 'input-xxlarge editor-html', size: "500x6" } %>
  <%= f.association :venue %>
  <%= f.input :start_at, :as => :string, :input_html => { :class => "datetimepicker", :value => text_field_datetime(@event.start_at) } %>
  <%= f.input :end_at, :as => :string, :input_html => { :class => "datetimepicker", :value =>  text_field_datetime(@event.end_at) } %>
  <%= f.input :description, :as => :ckeditor %>
  <%= f.input :schedule, :as => :ckeditor %>
  <%= f.input :rules, :as => :ckeditor %>
  <%= f.input :registration, :as => :ckeditor %>
  <%= f.input :devcon_role %>
  <%= f.input :event_type %>
  <%= f.input :target_attendees, :label => "No. of target attendees" %>
  <%= f.input :actual_attendees, :label => "No. of actual attendees" %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-large btn-primary' %>
  </div>
<% end %>
