<%= simple_form_for(@event) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <%= f.input :name %>
  <% unless @event.new_record? %>
    <%= f.input :slug %>
  <% end %>
  <%= f.association :parent %>
  <%= f.input :summary, :input_html => { class: 'input-xxlarge editor-html', size: "500x6" } %>
  <%= f.association :venue %>
  <%= f.input :start_at %>
  <%= f.input :end_at %>
  <%= f.input :description, :as => :ckeditor %>
  <%= f.input :schedule, :as => :ckeditor %>
  <%= f.input :rules, :as => :ckeditor %>
  <%= f.input :registration, :as => :ckeditor %>
  <%= f.input :devcon_role %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-large btn-primary' %>
  </div>
<% end %>
