<% title 'Events' %>
<% description "Know about our upcoming events! You can also browse our past events." %>
<% set_meta_tags :open_graph => {
  :title => "Events | #{ENV['title']}",
  :description => "Know about our upcoming events! You can also browse our past events.",
  :type  => :article,
  :url   => events_url,
  :image => opengraph_thumb_url
} %>
<h1>Events</h1>

<%= link_to 'Event Map', map_events_path, :class => 'btn btn-default' %>
<%= link_to 'iCalendar', calendar_path, :class => 'btn btn-default' %>

<% if can? :create, Event %>
  <%= link_to 'New event', new_event_path, :class => "btn btn-default" %>
<% end %>

<% unless @current_events.empty? %>
  <div class="row">
    <div class="col-sm-12">
      <h2>Ongoing Events</h2>
    </div>
  </div>
  <%= render @current_events %>
<% end %>
<div class="row">
  <div class="col-sm-12">
    <h2>Upcoming Events</h2>
  </div>
</div>
<% unless @events.empty? %>
  <%= render @events %>
<% else %>
  <p>We have no upcoming events. Please check back later</p>
<% end %>
<% unless @previous_events.empty? %>
  <div class="row">
    <div class="col-sm-12">
      <h2>Previous Events</h2>
    </div>
  </div>
  <% @previous_events.each do |event| %>
    <div class="row previous-event">
      <div class="col-sm-12">
        <h2><%= link_to event.name, event, :class => 'title' %></h2>
      </div>
    </div>
  <% end %>
  <% if @previous_event_count > 5 %>
    <div class="row">
      <div class="col-sm-12">
        <p><%= link_to 'view more previous events...', previous_events_path %></p>
      </div>
    </div>
  <% end %>
<% end %>

<%= render :partial => "shared/disqus_count" %>
