<% title @event.name %>
<% description generate_description(@event.summary) %>
<% set_meta_tags :open_graph => {
  :title => "#{@event.name} | #{ENV['title']}",
  :description => generate_description(@event.summary),
  :type  => :article,
  :url   => event_url(@event),
  :image => [thumbnail_url(@event), { :width => 200, :height => 200 }]
} %>
<% content_for :scripts do %>
  <%= render "gmaps" %>
<% end %>

<div class="row event">
  <div class="col-md-12">
    <% cache [@event, "title"] do %>
    <div class="row">
      <div class="col-md-12">
        <%= image_tag @event.cover_photo.cover.url %>
        <h1><%= link_to @event.name, @event, :class => 'title' %></h2>
        <p><small>
          <%= l(@event.start_at, :format => :long) %> 
          to
          <%= l(@event.end_at, :format => :long) %> 
        </small></p>
      </div>
    </div>
    <% end %>
    <div class="row">
      <div class="col-md-12">
        <% cache [@event, "description"] do %>
        <% if @event.parent %>
          <p class="parent-note">Part of <%= link_to "#{@event.parent.name}", @event.parent %></p>
        <% end %>  
        <%= raw @event.description %>
        <% unless @event.subevents.empty? %>
          <p class="parent-note">This event is made up of the following sub-events:</p>
          <ul>
          <% @event.subevents.each do |subevent| %>
            <li class="parent-note"><%= link_to subevent.name, subevent %></li>
          <% end %>
          </ul>
        <% end %>
        <% end %>
        <% if can? :manage, Event %>
          <p>
            <%= link_to "Edit", edit_event_path(@event), :class => 'btn btn-default' %>
          </p>
        <% end %>
      </div>
    </div>
    <% unless @event.venues.empty? %>
      <div class="row">
        <div class="col-md-12">
          <h2 class="subtitle">Where &amp; When</h2>
          <div class="map_container">
            <div id="map" class="gmaps4rails_map"></div>
          </div>
          <% unless @event.venue.nil? %>
            <h3><%= @event.venue.name %></h3>
            <%= simple_format @event.venue.address %>
            <p>
              <%= l(@event.start_at, :format => :long) %> 
              to
              <%= l(@event.end_at, :format => :long) %> 
            </p>
          <% end %>
          <% @event.subevents.each do |subevent| %>
            <h3><%= subevent.name %> - <%= subevent.venue.name %></h3>
            <%= simple_format subevent.venue.address %>
            <p>
              <%= l(subevent.start_at, :format => :long) %> 
              to
              <%= l(subevent.end_at, :format => :long) %> 
            </p>
          <% end %>
        </div>
      </div>
    <% end %>
    <% cache [@event, "rest-of-page"] do %>
    <% unless @event.participants.empty? %>
      <div class="row">
        <div class="col-md-12">
          <h2 class="subtitle">Partners</h2>
        </div>
      </div>
      <%= render :partial => "event_partner", :collection => @event.event_partners %>
    <% end %>
    <div class="row">
      <% unless @event.schedule.blank? %>
        <div class="col-md-6">
          <h2 class="subtitle">Schedule</h2>
          <%= raw @event.schedule %>
        </div>
      <% end %>
    </div>
    <% unless @event.rules.blank? %>
      <div class="row">
        <div class="col-md-6">
          <h2 class="subtitle">Rules</h2>
          <%= raw @event.rules %>
        </div>
      </div>
    <% end %>
    <% unless @event.registration.blank? %>
      <div class="row">
        <div class="col-md-12">
          <h2 class="subtitle">Registration</h2>
          <%= raw @event.registration %>
        </div>
      </div>
    <% end %>
    <hr>
    <div class="row social-sharing">
      <%= render "shared/social_sharing" %>
      <div class="col-md-2 col-md-offset-4">
        <%= link_to 'Google Calendar', @event.google_calendar_url, :class => 'btn btn-default' %>
      </div>
      <div class="col-sm-1">
        <%= link_to 'iCalendar', ics_event_path(@event), :class => 'btn btn-default' %>
      </div>
    </div>
    <div id="disqus_thread"></div>
    <% end %>
  </div>
</div>
<% cache [@event, "comments"] do %>
<%= render :partial => "shared/disqus_comments" %>
<% end %>
