<p><strong><%= event.venue.name %></strong></p>
<%= simple_format event.venue.address %>
<p>
<strong><%= event.end_at.past? ? "Most recent" : "Upcoming" %> event:</strong><br>
<%= link_to event.name, event %><br>
<small><em>
<%= l(event.start_at, :format => :long) %> 
to
<%= l(event.end_at, :format => :long) %>
</em></small>
</p>
