<% title 'Sign in' %>
<h1>Sign in</h1>
<%= simple_form_for(resource,
    :as => resource_name,
    :url => session_path(resource_name),
    :wrapper_mappings => {
      :check_boxes => :vertical_radio_and_checkboxes,
      :radio_buttons => :vertical_radio_and_checkboxes,
      :file => :vertical_file_input,
      :boolean => :vertical_boolean
  }) do |f| %>
  <%= f.input :email,
              :hint => 'Enter your email address',
              :input_html => { :class => 'input-xlarge' } %>
  <%= f.input :password,
              :hint => 'Enter password' %>
  <% if devise_mapping.rememberable? %>
      <%= f.input :remember_me, :as => :boolean %>
  <% end %>
  <div class="form-actions">
    <%= f.button :submit,
                 'Sign in',
                 :class => 'btn btn-large btn-primary' %>
  </div>
<% end %>

<%= render :partial => 'devise/shared/links' %>
