<% title @category.name %>
<h1><%= @category.name %></h1>
<b>Description:</b>
<% if @category.description.blank? %>
  <p>There is no description provided.</p>
<% else %>
  <p><%= @category.description %></p>
<% end %>
<% if can? :update, @category %>
  <%= link_to 'Edit', edit_category_path(@category), :class => "btn" %>
<% end %>
<% if can? :destroy, @category %>
  <%= link_to 'Destroy', category_path(@category), :data => { :confirm => 'Are you sure?' }, :method => :delete, :class => "btn" %>
<% end %>
<h2>Articles under <%= @category.name %></h2>
<ul>
  <% @category.articles.each do |article| %>
    <li><%= link_to article.title, article_path(article) %></li>
  <% end %>
</ul>
<%= link_to 'Back to categories', categories_path %>
