<%= simple_form_for(@resource_person) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <%= f.input :name %>
  <% unless @resource_person.slug.blank? %>
    <%= f.input :slug %>
  <% end %>
  <%= f.input :main_title %>
  <%= f.input :description, :as => :ckeditor %>
  <%= render :partial => "shared/view_thumbnail", :locals => { :obj => @resource_person } %>
  <%= f.input :thumbnail, :as => :file %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-large btn-primary' %>
  </div>
<% end %>
