<div class="row-fluid resource-person">
  <div class="span2">
    <%= image_tag resource_person.thumbnail.thumb %>
  </div>
  <div class="span10">
    <h2><%= link_to resource_person.name, resource_person, :class => 'title' %></h2>
    <h3 class='subtitle'><%= resource_person.main_title %></h3>
    <%= raw resource_person.description %>
    <p class="resource-person-description">
      <% if can? :update, resource_person %>
        <%= link_to 'Edit', edit_resource_person_path(resource_person) %>
      <% end %>
      <% if can? :destroy, resource_person %>
        <%= link_to 'Destroy', resource_person_path(resource_person), :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
    <p>
  </div>
</div>
