<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4">
        <h4>About DevCon</h4>
        <ul>
          <li>Who We Are</li>
          <li>Officers &amp; Chapters</li>
          <li><%= link_to 'FAQs (old)', faq_path %></li>
          <li><%= link_to 'Articles', articles_path %></li>
          <li><%= link_to 'Contact', contact_path %></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-4">
        <h4>DevCon Events</h4>
        <ul>
          <li>About DevCon Events</li>
          <li><%= link_to 'Upcoming Events', events_path %></li>
          <li><%= link_to 'Calendar', calendar_path %></li>
          <li>Request an Event</li>
        </ul>
        <h4><%= link_to 'DevCon Devise', 'http://devise.devcon.ph' %></h4>
      </div>
      <div class="col-md-3 col-sm-4">
        <h4><%= link_to 'Get Involved', get_involved_path %></h4>
        <ul>
          <li><%= link_to 'Be a Volunteer', volunteer_path %></li>
          <li><%= link_to 'Be a Speaker', speaker_path %></li>
          <li><%= link_to 'Be a Partner', partner_path %></li>
          <li><%= link_to 'Sponsor an Event', sponsor_path %></li>
          <li>Donate</li>
          <li><%= link_to 'Fork this on GitHub', "https://github.com/devcon-ph/devcon" %></li>
        </ul>
      </div>
      <div class="clearfix visible-sm-block"></div>
      <div class="col-md-3 col-sm-4">
        <h4>Keep In Touch</h4>
        <ul>
          <li><%= link_to 'Follow us on Twitter', 'https://twitter.com/DevConPH' %></li>
          <li><%= link_to 'Like our Facebook Page', 'https://facebook.com/DevConPH' %></li>
          <li><%= link_to 'Join our Facebook Group', 'https://www.facebook.com/groups/devconph/' %></li>
          <li><%= link_to 'Subscribe to our Mailing List', contact_path + '#mc_embed_signup' %></li>
          <li><%= link_to 'Visit us on Eventbrite', 'http://devconph.eventbrite.com/' %></li>
          <li><%= link_to 'View our Youtube Channel', 'http://youtube.com/devconph/' %></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 copyright-info">
        <small>
          &copy; 2012 - 2014 <%= link_to "Developers Connect Philippines", root_url %>
        </small>
      </div>
    </div>
  </div>
</footer>
