<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4">
        <h4><%= link_to 'About DevCon', about_path %></h4>
        <ul>
          <li><%= link_to 'Fact Sheet', fact_sheet_path %></li>
          <li><%= link_to 'Officers', officers_path %></li>
          <li><%= link_to 'Regional Chapters', chapters_path %></li>
          <li><%= link_to 'Articles', articles_path %></li>
          <li><%= link_to 'Contact', contact_path %></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-4">
        <h4><%= link_to 'DevCon Events', events_main_path %></h4>
        <ul>
          <li><%= link_to 'List of Upcoming Events', events_path %></li>
          <li><%= link_to 'Request an Event', events_request_path %></li>
        </ul>
        <h4><%= link_to 'DevCon Devise', 'http://devise.devcon.ph' %></h4>
      </div>
      <div class="col-md-3 col-sm-4">
        <h4><%= link_to 'Get Involved', get_involved_path %></h4>
        <ul>
          <li><%= link_to 'Become a Volunteer', volunteer_path %></li>
          <li><%= link_to 'Become a Speaker', speaker_path %></li>
          <li><%= link_to 'Sponsor Events', sponsor_path %></li>
          <li>Donate</li>
          <li><%= link_to 'Fork this on GitHub', "https://github.com/devcon-ph/devcon" %></li>
        </ul>
      </div>
      <div class="clearfix visible-sm-block"></div>
      <div class="col-md-3 col-sm-4">
        <h4><%= link_to 'Keep in Touch', notifications_path %></h4>
        <ul>
          <li><%= link_to 'Follow us on Twitter', 'https://twitter.com/DevConPH' %></li>
          <li><%= link_to 'Like our Facebook Page', 'https://facebook.com/DevConPH' %></li>
          <li><%= link_to 'Join our Facebook Group', 'https://www.facebook.com/groups/devconph/' %></li>
          <li><%= link_to 'Subscribe to our Mailing List', contact_path + '#mc_embed_signup' %></li>
          <li><%= link_to 'Visit us on Eventbrite', 'http://devconph.eventbrite.com/' %></li>
          <li><%= link_to 'View our Youtube Channel', 'http://youtube.com/devconph/' %></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 copyright-info">
        <small>
          &copy; 2012 - 2014 <%= link_to "Developers Connect Philippines", root_url %>
        </small>
      </div>
    </div>
  </div>
</footer>
