<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to root_path, :class => 'brand' do %>
        <img src="/logo.png" class="retina" />
      <% end %>
      <nav>
        <ul class="nav">
          <li class="<%= (action_name == "home" ? "active" : "") %>"><%= link_to 'Home', root_path  %></li>
          <li class="<%= (controller_name == "articles" ? "active" : "") %>"><%= link_to 'Articles', articles_path %></li>
          <li class="<%= (controller_name == "events" ? "active" : "") %>"><%= link_to 'Events', events_path %></li>
          <li class="<%= (controller_name == "partners" ? "active" : "") %>"><%= link_to 'Partners', partners_path %></li>
          <li class="<%= (controller_name == "speakers" ? "active" : "") %>"><%= link_to 'Resource People', resource_people_path %></li>
          <% if user_signed_in? %>
            <li><%= link_to 'Venues', venues_path %></li>
          <% end %>
        </ul>
        <ul class="nav pull-right">
          <% if user_signed_in? %>
            <% if current_user.role? "admin" %>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Admin Pages <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Article Categories', categories_path %></li>
                  <li><%= link_to 'Entities', entities_path %></li>
                </ul>
              </li>
            <% end %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Profile', current_user %></li>
                <li><%= link_to 'Settings', edit_user_registration_path %></li>
                <li class="divider"></li>
                <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to 'Sign up', new_user_registration_path %></li>
            <li><%= link_to 'Sign in', new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
