<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags :site => ENV['title'], :reverse => true %>
    <meta property="fb:admins" content="100000251664444" />
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <% if user_signed_in? and current_user.role? "admin" %>
      <%= javascript_include_tag 'ckeditor/init' %>
    <% end %>
    <link href="/favicon.ico" rel="shortcut icon">
    <link href="/apple-touch-icon-144-precomposed.png" sizes="144x144" rel="apple-touch-icon-precomposed">
    <link href="/apple-touch-icon-114-precomposed.png" sizes="114x114" rel="apple-touch-icon-precomposed">
    <link href="/apple-touch-icon-72-precomposed.png" sizes="72x72" rel="apple-touch-icon-precomposed">
    <link href="/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon-precomposed">
    <%= auto_discovery_link_tag :atom, "/feed" %>
    <%= auto_discovery_link_tag :rss, "/feed.rss" %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= render 'shared/flash_messages' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
    <%= render 'layouts/analytics' %>
    <%= javascript_include_tag "application" %>
    <%= yield :scripts %>
  </body>
</html>
